.post_info {
    margin-bottom: 20px;
    width: 100%;

    .title {
        width: 100%;
    }
}

.like_button_hover {
    background-color: rgb(255, 47, 47);
}

.heart {
    color: rgb(255, 47, 47);
}

.heart_hover {
    color: white;
}