.reply_container {
    display: flex;
    justify-content: center;

    .heart {
        color: rgb(255, 47, 47);
    }

    .arrow{
        margin-top: 10px;
        flex-basis: 20px;
        color: rgb(180, 180, 180);
    }

    .comment {
        flex-basis: calc(100% - 20px);

        .container {
            width: 100%;
            margin: 10px;
        }
    }
}