.main_layout {
    min-height: 100vh;
    
    .content {
        margin: 64px 16px 0px;

        .content_div {
            padding: 24px;
            min-height: 75vh;
            background: #ffffff;
        }
    }
}