.container {
    display: flex;
    justify-content: center;
    height: 60vh;

    .card_container {
        flex-basis: 40%;
        height: 100%;

        .card {
            height: 100%;
            overflow-y: scroll;
        }
    }

    .form_container {
        flex-basis: 60%;
        padding-inline: 50px;
        height: 100%;
        overflow-y: scroll;

        .button_container {
            display: flex;
            justify-content: flex-end;

            button {
                margin-inline: 3px;
            }
        }
    }
}

.mobile_container {
    width: 100%;

    .form_container {
        margin: 15px 0 0;

        .button_container {
            display: flex;
            justify-content: flex-end;

            button {
                margin-inline: 3px;
            }
        }
    }
}