.container {
    display: flex;
    justify-content: center;

    .card_container {
        flex-basis: 40%;

        .card {
            height: 60vh;
            overflow-y: scroll;
        }
    }

    .form_container {
        flex-basis: 60%;
        padding: 15px;
        height: 60vh;
        overflow-y: scroll;

        .button_container {
            display: flex;
            justify-content: right;

            button {
                margin-inline: 3px;
            }
        }
    }
}

.mobile_container {
    width: 100%;

    .form_container {
        margin: 15px 0 0;
    }
}