.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .buttons_container {
        .button {
            top: calc(50% - 15px);
            margin-inline: 3px;
        }
    }
}