.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .title_container {
        display: flex;
        justify-content: left;

        .icon {
            width: 70px;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .title {
            padding-bottom: 10px;
        }
    }

    .buttons_container {
        .button {
            top: calc(50% - 15px);
            margin-inline: 3px;
        }
    }
}

.container_center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}