.container {
    display: flex;
    justify-content: center;

    .input {
        flex-basis: calc(100% - 60px);
        margin-right: 5px;
    }

    .button {
        flex-basis: 60px;
        min-width: 30px;
        margin-left: 5px;
    }
}